@model IEnumerable<Blood_Donation_System.Models.Donors>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="pt-5 mt-5">
        <h1>Donors List</h1>

        <p>
            <a asp-action="Create">Add New</a>
        </p>
        <table class="table table-striped shadow-lg">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DonorId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BloodGroup)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Weight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Disease)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DonorId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BloodGroup)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Weight)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Disease)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.DonorId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.DonorId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.DonorId">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/notHome.js"></script>